/* Remove bubbly look of TableView headers */
.table-view .corner,
.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

#validWordsBtn, #targetWordsBtn {
    -fx-background-color: transparent;
}

#targetWordsBtn {
    -fx-alignment: CENTER-RIGHT;
}

#validWordsBtn:hover {
    -fx-background-color: linear-gradient(to right, #d3d3d3, white);
}

#targetWordsBtn:hover {
    -fx-background-color: linear-gradient(to left, #d3d3d3, white);
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

#fileHeader .label {
    -fx-alignment: CENTER-LEFT;
}

#actionHeader .label {
    -fx-alignment: CENTER-RIGHT;
}

.button {
    -fx-alignment: CENTER-LEFT;
}