#fileHeader .label {
    -fx-alignment: CENTER-LEFT;
}

#actionHeader .label {
    -fx-alignment: CENTER-RIGHT;
}

.button {
    -fx-alignment: CENTER-LEFT;
}

/* Remove bubbly look of TableView headers */
.table-view .column-header-background,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

#validWords:hover, #targetWords:hover {
    -fx-background-color: grey;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}