.table-view .table-column .label {
    -fx-alignment: CENTER-LEFT;
}

.button {
    -fx-alignment: CENTER-LEFT;
}

/* Remove bubbly look of TableView headers */
.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

#validWords:hover, #targetWords:hover {
    -fx-background-color: grey;
}